<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="agent">

	<!-- mariadb -->
	<insert id="insertAgent" parameterType="com.javaclass.vo.AgentVO"> 
    INSERT INTO agent(agent_id, agent_password, agent_name, agent_email, agent_phone, license_num, agency
        , agent_fname, agent_realfname, agent_fsize )
    VALUES(#{agent_id},#{agent_password},#{agent_name},#{agent_email},#{agent_phone},#{license_num},#{agency}
        ,#{agent_fname},#{agent_realfname},#{agent_fsize})
	</insert>
	
	<select id="selectRealfname"  parameterType="com.javaclass.vo.AgentVO" resultType="String">
	SELECT agent_realfname FROM agent WHERE agent_id = #{inputId}
	</select>
	
</mapper>
